{% extends 'base.html' %}
{% block title %} Профайл пользователя {{ username }} {% endblock title %}
{% block content %}
  <div class="container py-5">
    <h1> Все посты пользователя {{username}} </h1>
      <h3> Всего постов: {{number}} </h3>
        <article>
          <ul>
            {% for post in page_obj %}
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
          </ul>
            <p>
              {{ post.text }}
            </p>
              <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация </a><br>
        </article>
          {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы </a>
          {% endif %}
            <hr>
          {% endfor %}
        {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock content %}
